*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Gilroy" !important;
  }
  @font-face {
    font-family: Karla;
    src: url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&display=swap');
  }
    :root{
      --primary-background:#0a0a0a;
      --secondary-background:#1a1a1a;
      --white:#fff;
      --yellow:#fdca2a;
      --gray:#202023;
    }
  body {
    font-family: karla;
   
  }
  #btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: #b8860b;
    color: black;
    z-index: 1000;
  }

  .sectiontitle {
    text-align: center;
    color: var(--white);
  }

/*#region Loader start*/

.modal {
  position:absolute!important;
  backdrop-filter: blur(10px);
}
.modal-dialog{
  top: 50% !important;
  transform: translateY(-50%) !important;
}
.modal-content{
  border: 0px solid rgba(0,0,0,.2) !important;
  align-items: center;
  background-color: transparent !important;
}

.loader {
  font-size: 4em;
  display: inline-block;
  font-family: "Gilroy" !important;
  font-weight: bold;
  color: darkgoldenrod ! important;
  letter-spacing: 2px;
  position: relative;
  box-sizing: border-box;
}

.loader::after {
  content: 'Fitness Aim';
  position: absolute;
  left: 0;
  top: 0;
  color: #263238;
  text-shadow: 0 0 2px var(--warning), 0 0 1px var(--warning), 0 0 1px var(--warning);
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 6s linear infinite;
}

@keyframes animloader {
  0% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
/*#endregion Loader start*/

/*#region Navbar section start*/
header{
    width: 100%;
    height: 80px;
    background-color: var(--primary-background);
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    background: url('/assets/img/bgpattern.png');
}
/* .logo{
    font-size: 28px;
    font-weight: bold;
    color: #fefefe;
} */
#navlogo{
    width: 50px;
    cursor: pointer;
  }
.hamburger{
    display: none;
}
.nav-bar ul {
    display: flex;
    margin: 0;
}
.nav-bar ul li a{
    display: block;
    color: var(--white);
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    text-decoration: none;
    text-shadow: 1px 1px 10px rgb(251, 255, 0), 1px 1px 10px rgb(251, 255, 0);
    filter: dropshadow(color=#ffffff, offx=2, offy=2);
    color: rgb(251, 255, 0);
}
.nav-bar ul li a:active{
    text-decoration: none;
    text-shadow: 1px 1px 10px rgb(251, 255, 0), 1px 1px 10px rgb(251, 255, 0);
    filter: dropshadow(color=#ffffff, offx=2, offy=2);
    color: rgb(251, 255, 0);
}


  @media only screen and (max-width: 1320px){
header{
    padding: 0 50px;
       }
  }
  @media only screen and (max-width: 1100px){
header{
    padding: 0 30px;
        }
  }
  @media only screen and (max-width: 900px){
.hamburger{
    display: block;
    cursor: pointer;
}
.hamburger .line{
    width: 30px;
    height: 3px;
    background: #fefefe;
    margin: 6px 0;
}  
.nav-bar{
    height: 0;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    width: 100vw;
    transition: 0.4s ease-in-out;
    overflow: hidden;
    background: url('/assets/img/bgpattern.png');
}
.nav-bar.active{
    position: absolute;
    height: 400px;
    z-index: 9999;
    height: 400px
}
.nav-bar ul{
    display: flex;
    transition: 0.5s;
    flex-direction: column;
    align-items: center;
    opacity: 0;
}
.nav-bar.active ul{
    opacity: 1;
}
.nav-bar ul li a{
    margin-bottom: 12px;
}
}
  
/*#endregion Navbar section End*/

/*#region carousel section start*/

  .carimg{
    width: 100%;
    height: calc(100vh - 8.6vh);
  }
  @media only screen and (max-width: 1320px){
    .carimg{
        width: 100%;
        height: calc(100vh - 9.4vh);
      }
    }
      @media only screen and (max-width: 1100px){
        .carimg{
            width: 100%;
            height: calc(100vh - 9.4vh);
          }
        }
  @media only screen and (max-width: 900px){
    .carimg{
        width: 100%;
        height: calc(100vh - 9.4vh);
      }
    
  }
  /*#endregion carousel section end*/

  /*#region services section start*/
.services-section{
    background: var(--primary-background);
    color: var(--white);
    padding: 2em;
}
.services-section .head {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .service-box-left{
    width: 50%;
  }
  .service-box-right{
    width: 50%;
  }
  
  .service-box{
    display: flex;
  }
  .service-box-right h1{
    display: flex;
    justify-content: center;
    color: darkgoldenrod !important;
}
.service-box-left h1{
    display: flex;
    justify-content: center;
    color: darkgoldenrod !important;
}
.service-box p{
    font-size: 1.9em;
}
.service-box-right img{
    height: 40px;
     width: 40px
}
.service-box-left img{
    height: 40px;
     width: 40px
}
  
  @media only screen and (max-width: 1320px){
    
    }
 @media only screen and (max-width: 1100px){
    .services-section {
        height: auto;
    }
    .service-box h1{
        font-size:2em;
    }
    .service-box p{
        font-size: 1.5em;
    }
    .service-box-left{
        width: 100%;
      }
      .service-box-right{
        width: 100%;
      }
      .service-box{
        display: block;
      }
    }
    @media only screen and (max-width: 700px){
        .services-section {
            height: auto;
        }
        .service-box h1{
            font-size:1.7em;
        }
        .service-box p{
            font-size: 1.3em;
        }
        .service-box-left{
            width: 100%;
          }
          .service-box-right{
            width: 100%;
          }
          .service-box{
            display: block;
          }
    
  }
  /*#endregion services section end*/

  /*#region others section start*/
.others-section{
    background-color: var(--secondary-background);
    color: var(--white);
   
}
.timecard{
    display: flex;
    justify-content: center;
  }
  .time-card-title{
    color: darkgoldenrod;
      display: flex;
      justify-content: center;
  }
  
  .time-card {
    width: 100%;
    height: 100%;
    background-color: #212121;
    box-shadow: 4px 4px 5px #b8860b, -3px -4px 2px #252525;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s, transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    padding: 12px;
  }
   
   .time-card:hover {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    transform: scale(1.05);
   }
   
  .time-card .time-content {
    display: flex;
    color: #212121;
    padding-top: 0vh;
    margin: 0px 0px;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
  }
  
  .time-card .time-content p {
    transition: all .5s;
    font-size: 1em;
    margin-bottom: 8px;
    color: darkgoldenrod;
  }
  
  
  .cs-item {
      text-align: center;
      margin-bottom: 30px;
  }
  
  .cs-item:hover span {
      background: darkgoldenrod;
      color: #ffffff;
  }
  
  .cs-item span {
      height: 90px;
      width: 90px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      display: inline-block;
      color: darkgoldenrod;
      line-height: 90px;
      text-align: center;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  .cs-item h4 {
      color: #ffffff;
      font-size: 22px;
      font-weight: 600;
      margin-top: 24px;
      margin-bottom: 16px;
  }
  .cs-item p {
      color: darkgoldenrod;
      font-size: 1.3em;
  }
.others-body{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 1rem;
  padding-right: 2vw;
  padding-left: 2vw;
}
/*#endregion others section end*/
  
/*#region Plan section start*/
  .plan-section{
    height: auto;
    background-color: var(--primary-background);
  }
  .card-section {
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(16rem,2fr));
    gap: 1em;
}
  .cards{
    display: flex;
    justify-content: center;
  }
  
  .card-plan {
    width: 20rem;
    height: 10rem;
    background-color: #464645;
    text-align: center;
    border: 10px solid #0a0a0a;
    border-radius: 20px;
    transition: 0.5s;
  }
  
  .card-plan:hover {
    height: 27vh;
  }
  
  .icon-plan {
    width: 115px;
    height: 100px;
    color: darkgoldenrod;
    /* font-size: 32px; */
    background-color: #151515;
    margin: 20px auto;
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 20%;
    -webkit-box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
    box-shadow: 0px 0px 30px #343a40;
    justify-content: center;
  }
  .content-plan {
    color: #999;
    background-color: #151515;
    padding: 3px;
      margin: 7px 22px;
    border-radius: 8px;
    -webkit-box-shadow: 8px 8px 10px #ddd, -8px -8px 10px #fff;
    box-shadow: 0px 0px 11px #343a40, 0px 0px 25px #343a40;
    -webkit-transform: translateY(-80px) scale(0);
    -ms-transform: translateY(-80px) scale(0);
    transform: translateY(-80px) scale(0);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .card-plan:hover .content-plan {
    -webkit-transform: translateY(0) scale(1);
        -ms-transform: translateY(0) scale(1);
            transform: translateY(0) scale(1)
  }
  
  .content-plan .h3-plan {
    color: #fff;
  }
  .p-plan{
    font-size: 2rem;
    color: #fff;
    margin: 3px;
  
  }
  /*#endregion Plan section end*/
  
  /*#region gallery section start*/
  .gallery-section{
    height: auto;
    background-color: var(--secondary-background);
  }

  .gallery{
    width: 100%;
    padding: 5vw;
  }
.swiper {
  width: 100%;
  height: fit-content;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 100%;
}

.swiper-slide:nth-child(2n) {
  width: 100%;
}

.swiper-slide:nth-child(3n) {
  width: 100%;
}
/*#endregion gallery section end*/
 

/*#region team section start*/
.team-section{
  height: auto;
  background-color: var(--primary-background);
}

.ts-slider .col-lg-4 {
	max-width: 100%;
}

.ts-slider.owl-carousel .owl-dots {
	text-align: center;
	margin-top: 30px;
  height: 5vh;
}

.ts-slider.owl-carousel .owl-dots button {
	height: 4px;
	width: 20px;
	background: #5c5c5c;
	margin-right: 15px;
	-webkit-transform: skewY(-5deg);
	-ms-transform: skewY(-5deg);
	transform: skewY(-5deg);
}

.ts-slider.owl-carousel .owl-dots button.active {
	background: #f36100;
}

.ts-slider.owl-carousel .owl-dots button:last-child {
	margin-right: 0;
}

.ts-item {
	height: max-content;
	position: relative;
	overflow: hidden;
}

.ts-item:hover .ts_text {
	bottom: -35px;
}

.ts-item .ts_text {
	padding: 40px 0 60px;
	text-align: center;
	background: #0a0a0a;
	border-top: 4px solid #464646;
	-webkit-transform: skewY(-5deg);
	-ms-transform: skewY(-5deg);
	transform: skewY(-5deg);
	position: absolute;
	left: 0;
	bottom: -250px;
	width: 100%;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.ts-item .ts_text h4 {
	color: #ffffff;
	font-weight: 600;
	margin-bottom: 14px;
	-webkit-transform: skewY(5deg);
	-ms-transform: skewY(5deg);
	transform: skewY(5deg);
}

.ts-item .ts_text span {
	display: block;
	font-size: 12px;
	font-weight: 700;
	color: #aaaaaa;
	text-transform: uppercase;
	-webkit-transform: skewY(5deg);
	-ms-transform: skewY(5deg);
	transform: skewY(5deg);
}
  /*#endregion team section end*/

  
/*#region contact section start*/
.contact-section{
  height: auto;
  background-color: var(--secondary-background);
  padding: 2em;
}

.contact-body{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(213px,1fr));
  gap: 1rem;
}
.gt-text {
	overflow: hidden;
  display: flex;
    align-items: center;
    justify-content: flex-start;
}

.gt-text i {
	font-size: 30px;
	color: #ffffff;
	display: block;
	height: 65px;
	width: 65px;
	background: darkgoldenrod !important;
	border-radius: 50%;
	line-height: 65px;
	text-align: center;
	float: left;
	margin-right: 20px;
}

.gt-text a {
	overflow: hidden;
  text-decoration:none;
	color: #ffffff;
	margin-bottom: 0;
	padding-top: 10px;
}
.gt-text a:hover {
	color: darkgoldenrod;
	
}

.gt-text.email p {
	padding-top: 20px;
}
.set-bg img:hover{
  filter: drop-shadow(0px 0px 8px rgb(255, 255, 255));
  transition: 0.5s;
}

/*#endregion contact section start*/

/*#region founder section start*/
.founder-section{
  background-color: var(--primary-background);
}
.founder-body{
  display: grid;
    grid-template-columns: repeat(auto-fit,minmax(213px,1fr));
    gap: 1em;
    justify-items: center;
}
.founder-body h4{
color: darkgoldenrod;
}
/*#endregion founder section start*/

/*#region founder section start*/
.developer-section{
  background-color: var(--secondary-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.developer-section a{
color: darkgoldenrod;
}
/*#endregion founder section start*/